---
import "../scss/main.scss";
import Nav from "../components/Nav.astro";
import Head from "../components/Head.astro";

const { navPlace } = Astro.props;
---

<!doctype html>
<head>
    <Head />
</head>
<html lang="en" transition:name="root" transition:animate="none">
    <body>
        <main class="frame" transition:animate="slide">
            <Nav place={navPlace} />

            <div class:list={["content", { "content--hide": !navPlace }]}>
                <div class="content__scroll">
                    <div class="content__inner">
                        <slot />
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
