---
import '../scss/main.scss'
import Content from '../components/Content.astro'
import Head from '../components/Head.astro'
import Logo from '../components/Logo.astro'
// import VtBotDebug from 'astro-vtbot/components/VtBotDebug.astro'

const { isContentShown, frontmatter } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <!-- <VtBotDebug /> -->
    <Head title={frontmatter?.title} />
  </head>

  <body>
    <main class="frame">
      <Logo isContentShown={isContentShown} />

      <Content isShown={isContentShown}>
        <slot />
      </Content>
    </main>
  </body>
</html>
