@use "../defines/vars";
@use "../defines/functions";

.s-wysiwyg {


        h1 {
            font:
                700 functions.fluid-clamp(24px, 60px) /
                    functions.fluid-clamp(24px, 60px) "Space Grotesk",
                sans-serif;
            text-align: center;

            @include mixins.media-wide {
                font-size: functions.fluid-clamp(24px, 60px, $unit: vh);
                line-height: functions.fluid-clamp(24px, 60px, $unit: vh);
            }
        }

        p {
            font:
                400 functions.fluid-clamp(16px, 20px) /
                    functions.fluid-clamp(20px, 28px) "Space Grotesk",
                sans-serif;

            @include mixins.media-wide {
                font-size: functions.fluid-clamp(16px, 20px, $unit: vh);
                line-height: functions.fluid-clamp(20px, 28px, $unit: vh);
            }
        }

        hr + p::first-letter {
            float: left;
            font-size: functions.fluid-clamp(40px, 56px);
            line-height: functions.fluid-clamp(39px, 55px);
            font-weight: 600;

            @include mixins.media-wide {
                font-size: functions.fluid-clamp(40px, 56px, $unit: vh);
                line-height: functions.fluid-clamp(39px, 55px, $unit: vh);
            }
        }

        hr {
            width: 10%;
            height: 3px;
            background: vars.$color-black;
        }

        a {
            color: vars.$color-black;
            text-decoration: underline 3px vars.$color-brand-yellow;
            font-weight: 600;
        }

}
