@use './global/reset';
@use './global/fonts';
@use './defines/vars';
@use './defines/functions';
@use 'sass:math';

body {
  background-color: vars.$color-white;
}

.frame {
  position: fixed;
  inset: 0;
  box-shadow: inset 0 0 0 functions.fluid-clamp(10px, 20px) vars.$color-black;

  @media (min-aspect-ratio: 1/1) {
    box-shadow: inset 0 0 0 functions.fluid-clamp(10px, 20px, $unit: vh) vars.$color-black;
  }
}

.content {
  position: fixed;
  inset: 0 0 0 50dvw;
  box-shadow: inset 0 0 0 functions.fluid-clamp(10px, 20px) vars.$color-black;
  background: vars.$color-white;

  @media (min-aspect-ratio: 1/1) {
    inset: 0 0 0 50dvh;
    box-shadow: inset 0 0 0 functions.fluid-clamp(10px, 20px, $unit: vh) vars.$color-black;
  }

  h1 {
    font: 700
      functions.fluid-clamp(24px, 60px) / functions.fluid-clamp(24px, 60px)
      'Space Grotesk', sans-serif;
    text-align: center;


    @media (min-aspect-ratio: 1/1) {
      font-size: functions.fluid-clamp(24px, 60px, $unit: vh);
      line-height: functions.fluid-clamp(24px, 60px, $unit: vh);
    }
  }

  p {
    font: 400
    functions.fluid-clamp(16px, 20px) / functions.fluid-clamp(20px, 28px)
    'Space Grotesk', sans-serif;
    text-wrap: balance;

    @media (min-aspect-ratio: 1/1) {
      font-size: functions.fluid-clamp(16px, 20px, $unit: vh);
      line-height: functions.fluid-clamp(20px, 28px, $unit: vh);
    }
  }

  hr + p::first-letter {
    float: left;
    font-size: functions.fluid-clamp(40px, 56px);
    line-height: functions.fluid-clamp(39px, 55px);
    font-weight: 600;

    @media (min-aspect-ratio: 1/1) {
      font-size: functions.fluid-clamp(40px, 56px, $unit: vh);
      line-height: functions.fluid-clamp(39px, 55px, $unit: vh);
    }
  }

  hr {
    width: 10%;
    height: 3px;
    background: vars.$color-black;
  }

  a {
    color: vars.$color-black;
    text-decoration: underline 3px vars.$color-brand-yellow;
    font-weight: 600;
  }
}

.content--hide {
  inset: 0 0 0 100dvw;
}

.content__scroll {
  position: absolute;
  inset: functions.fluid-clamp(10px, 20px);
  overflow: auto;

  @media (min-aspect-ratio: 1/1) {
    inset: functions.fluid-clamp(10px, 20px, $unit: vh);
  }
}

.content__inner {
  margin-block: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: functions.fluid-clamp(25px, 100px);

  @media (min-aspect-ratio: 1/1) {
    margin: functions.fluid-clamp(25px, 100px, $unit: vh);
  }
}
