@use 'vars';
@use 'sass:math';

@function decimal-round($number, $decimals: 0) {
  $n: 1;

  @if $decimals > 0 {
    @for $i from 1 through $decimals {
      $n: $n * 10;
    }
  }

  @return math.div(math.round($number * $n), $n);
}

@function px-to-rem($px) {
  $rems: math.div($px, vars.$rem-value) * 1rem;

  @return $rems;
}

@function fluid-clamp($min-size, $max-size, $min-breakpoint: vars.$width-content-min, $max-breakpoint: vars.$width-content-max, $unit: vw) {
  $slope: math.div($max-size - $min-size, $max-breakpoint - $min-breakpoint);
  $slope-to-unit: decimal-round($slope * 100, 2);
  $intercept-rem: decimal-round(px-to-rem($min-size - $slope * $min-breakpoint), 2);
  $min-size-rem: decimal-round(px-to-rem($min-size), 2);
  $max-size-rem: decimal-round(px-to-rem($max-size), 2);

  @return clamp(#{$min-size-rem}, #{$slope-to-unit}#{$unit} + #{$intercept-rem}, #{$max-size-rem});
}
