$rem-value: 10px;

$width-container-max: 1440px;
$width-content-min: 375px;
$width-content-max: 1168px;

$color-brand-yellow: hsl(52, 100%, 50%);
$color-black: hsl(0, 0%, 7%);
$color-white: hsl(0, 0%, 93%);
