$rem-value: 10px;

$width-container-max: 1440px;
$width-content-min: 375px;
$width-content-max: 1168px;

$media-breakpoint-lg: 920px;

$color-brand-yellow: hsl(52, 100%, 50%);
$color-black: hsl(0, 0%, 7%);
$color-white: hsl(0, 0%, 93%);

$font-name-space-grotesk: 'Space Grotesk';
$type-scale-names: 'h1' 'h2' 'h3' 'h4' 'h5' 'h6' 'body' 'caption' 'small';
$type-scale-weight: 700 500 500 500 500 500 400 400 300;
$type-scale-size-min: 45px 38px 32px 27px 23px 19px 16px 13px 11px;
$type-scale-line-height-min: 52px 48px 40px 36px 32px 28px 24px 20px 20px;
$type-scale-size-max: 57px 48px 40px 34px 28px 24px 20px 17px 14px;
$type-scale-line-height-max: 64px 56px 48px 44px 36px 32px 28px 24px 24px;
