@font-face {
  font-family: 'Space Grotesk';
  src: local('Space Grotesk'),
    url('/font/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
  font-display: swap;
  font-weight: 300 700;
  font-style: normal;
}
